@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #ccc;
}

.card {
  width: 400px;
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.card img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: left;
}

.card-header h3 {
  margin-left: 5px;
}

.card-content {
  margin-top: 5px;
  background: #f2f3d9;
  padding: 5px;
}
